<p-button label="Back to transactions" class="mb-6 block" [icon]="PrimeIcons.ARROW_LEFT" [text]="true" [routerLink]="['../']" />

@if (state().isLoading) {
  <echo-spinner />
} @else {
  @if (state().tx; as tx) {
    <div class="flex justify-center">
      <p-card class="w-full max-w-[40rem]">
        <div class="flex gap-4 justify-between">
          <div class="flex gap-4 ites-center">
            <div>
              <h2 class="text-2xl lg:text-3xl">
                {{ tx.name }}
              </h2>

              @let isIncome = tx.type === 'income';
              <p-tag class="mt-3" [severity]="isIncome ? 'success' : 'danger'" [value]="(tx.type | titlecase) ?? ''" />
            </div>
          </div>

          <div class="flex gap-3">
            <p-button severity="secondary" label="Edit" [icon]="PrimeIcons.FILE_EDIT" (onClick)="editTransaction()" />
            <p-button severity="danger" label="Delete" [icon]="PrimeIcons.DELETE_LEFT" (onClick)="deleteTransaction(tx.id)" />
          </div>
        </div>

        <p-divider />

        <div class="grid gap-3">
          <p class="flex justify-between gap-3">
            <span>Category:</span>
            <span>
              {{ tx.categoryId ?? 'Uncategorized' }}
            </span>
          </p>

          <p class="flex justify-between gap-3">
            <span>Transaction date:</span>
            <span>
              {{ tx.txDate | timestampToDate | date }}
            </span>
          </p>

          <div class="flex justify-between gap-3">
            <span>Amount:</span>
            <span [class]="isIncome ? 'color-success' : 'color-danger'">
              {{ tx.amount | currency }}
            </span>
          </div>

          <div>
            <p class="color-secondary">Description: {{ !tx.description ? '-' : '' }}</p>
            @if (tx.description) {
              <p>{{ tx.description }}</p>
            }
          </div>
        </div>
      </p-card>
    </div>
  }
}
