<p-button label="Back to transactios" class="mb-4 block" [icon]="PrimeIcons.ARROW_LEFT" [text]="true" [routerLink]="['../']" />

@if (isLoading()) {
  <echo-spinner />
} @else {
  @if (tx(); as tx) {
    <p-card class="w-full max-w-[40rem]">
      <div class="flex gap-4 justify-between">
        <div class="flex gap-4 ites-center">
          <div>
            <h2 class="text-2xl lg:text-3xl">
              {{ tx.name }}
            </h2>

            <div class="flex gap-4 mt-2">
              <!-- TODO: remove if used once -->
              @let isIncome = tx.type === 'income';
              <p-tag [severity]="isIncome ? 'success' : 'danger'" [value]="(tx.type | titlecase) ?? ''" />
            </div>
          </div>
        </div>

        <div class="flex gap-3">
          <p-button severity="secondary" label="Edit" [icon]="PrimeIcons.FILE_EDIT" (onClick)="editTransaction()" />
          <p-button severity="danger" label="Delete" [icon]="PrimeIcons.DELETE_LEFT" (onClick)="deleteTransaction(tx.id)" />
        </div>
      </div>
    </p-card>
  }
}
