<div class="p-3 flex justify-center">
  <div class="w-full max-w-[1400px]">
    <p-toolbar>
      <ng-template #start>
        @if (isOverMdBreakpoint()) {
          <a pButton severity="secondary" [text]="true" [routerLink]="[Path.DASHBOARD]">
            <img src="asset/icon/app-logo.svg" alt="echo-logo" class="w-6" />
            Echo
          </a>

          <div class="flex gap-3">
            @for (link of links; track $index) {
              <a pButton severity="secondary" routerLinkActive="link-active" [text]="true" [routerLink]="link.routerLink">{{
                link.label
              }}</a>
            }
          </div>
        } @else {
          <button pButton severity="secondary" [icon]="PrimeIcons.BARS" [text]="true" (click)="drawerVisible = !drawerVisible">Echo</button>
        }
      </ng-template>

      <ng-template #end>
        <div class="flex items-center gap-4">
          <echo-theme-buttons />
          <echo-user-popover />
        </div>
      </ng-template>
    </p-toolbar>

    <!-- Mobile drawer -->
    @if (!isOverMdBreakpoint()) {
      <p-drawer [(visible)]="drawerVisible" header="Echo">
        <div class="grid gap-3">
          @for (link of links; track $index) {
            <a routerLinkActive="link-active" class="text-lg" [routerLink]="[link.routerLink]" (click)="closeDrawer()">
              {{ link.label }}
            </a>
          }
        </div>
      </p-drawer>
    }

    <section class="mt-4">
      <router-outlet />
    </section>
  </div>
</div>
<p-confirm-dialog />
