<div class="p-3 flex justify-center">
  <div class="w-full max-w-[1400px]">
    <mat-toolbar>
      @if (isOverMdBreakpoint()) {
        <div class="w-full flex justify-between">
          <div class="flex">
            <a matButton="text" class="flex" [routerLink]="[Path.DASHBOARD]">
              <mat-icon svgIcon="app-logo" />
              Echo
            </a>

            @for (link of links; track $index) {
              <a matButton="text" routerLinkActive="link-active" [routerLink]="link.routerLink">{{ link.label }}</a>
            }
          </div>

          <div class="flex gap-3">
            <echo-theme-buttons />
            <echo-user-popover />
          </div>
        </div>
      } @else {
        <button matIconButton (click)="drawerVisible = !drawerVisible">
          <mat-icon fontIcon="menu" />
        </button>
      }
    </mat-toolbar>

    <!-- Mobile drawer -->
    @if (!isOverMdBreakpoint()) {
      <mat-drawer-container class="h-full">
        <mat-drawer mode="side" [opened]="drawerVisible">
          <div class="grid gap-3">
            @for (link of links; track $index) {
              <a routerLinkActive="link-active" class="text-lg" [routerLink]="[link.routerLink]" (click)="closeDrawer()">
                {{ link.label }}
              </a>
            }
          </div>
        </mat-drawer>

        <mat-drawer-content>
          <main class="mt-4">
            <router-outlet />
          </main>
        </mat-drawer-content>
      </mat-drawer-container>
    } @else {
      <main class="mt-4">
        <router-outlet />
      </main>
    }
  </div>
</div>
