<div class="p-3">
  <p-toolbar>
    <ng-template #start>
      @if (isOverMdBreakpoint()) {
        <a pButton [text]="true" [routerLink]="[Path.DASHBOARD]">
          <img src="asset/icon/app-logo.svg" alt="echo-logo" class="w-6" />
          Echo
        </a>
      } @else {
        <!-- TODO: toggle drawer -->
        <button pButton [icon]="PrimeIcons.BARS" [text]="true">Echo</button>
      }
    </ng-template>

    <ng-template #end>
      <div class="flex gap-4">
        <echo-theme-buttons />
        <p-button pTooltip="Logout" tooltipPosition="bottom" severity="secondary" [icon]="PrimeIcons.SIGN_OUT" (click)="logout($event)" />
      </div>
    </ng-template>
  </p-toolbar>
</div>

<p-drawer [(visible)]="drawerVisible" header="Drawer">
  @for (link of links; track $index) {
    <a routerLinkActive="link-active" [routerLink]="[link.routerLink]" [routerLinkActiveOptions]="{ exact: true }">
      {{ link.label }}
    </a>
  }
</p-drawer>

<!-- <mat-drawer-container autosize>
  <mat-drawer #drawer [mode]="isOverMdBreakpoint() ? 'side' : 'over'" [opened]="isOverMdBreakpoint()">
    <nav class="h-full flex flex-col justify-between p-4">
      <mat-nav-list>
        @for (link of links; track $index) {
          <a mat-list-item routerLinkActive="link-active" [routerLink]="[link.routerLink]" [routerLinkActiveOptions]="{ exact: true }">
            {{ link.label }}
          </a>
        }
      </mat-nav-list>
    </nav>
  </mat-drawer>

  <main class="p-4 h-[calc(100vh-var(--mat-toolbar-mobile-height))] sm:h-[calc(100vh-var(--mat-toolbar-standard-height))]">
    <router-outlet />
  </main>
</mat-drawer-container> -->

<p-confirm-dialog />
