<form class="grid gap-2" (keyup.enter)="submit($event)">
  <div class="grid gap-4">
    @if (formType() === 'register') {
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput id="username" autocomplete="off" class="w-full" type="text" [formField]="authForm.username" />

        @if (authForm.username().touched() && authForm.username().dirty()) {
          <mat-error>
            @for (err of authForm.username().errors(); track err.kind) {
              {{ err.message }}
            }
          </mat-error>
        }
      </mat-form-field>
    }

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput id="email" type="email" autocomplete="off" class="w-full" [formField]="authForm.email" />

      @if (authForm.email().touched() && authForm.email().dirty()) {
        <mat-error>
          @for (err of authForm.email().errors(); track err.kind) {
            {{ err.message }}
          }
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput id="password" class="w-full" autocomplete="off" type="password" [formField]="authForm.password" />

      @if (authForm.password().touched() && authForm.password().dirty()) {
        <mat-error>
          @for (err of authForm.password().errors(); track err.kind) {
            {{ err.message }}
          }
        </mat-error>
      }
    </mat-form-field>
  </div>

  <button matButton="text" [disabled]="authForm().invalid() || isPerforming()" (click)="submit($event)">
    <div class="flex gap-2">
      @if (isPerforming()) {
        <mat-spinner diameter="20" />
      }
      {{ formType() === 'login' ? 'Login' : 'Create account' }}
    </div>
  </button>

  <div class="mt-4">
    @if (formType() === 'login') {
      <div class="flex items-center justify-center gap-1">
        <span>No account?</span>
        <button matButton (click)="toggleFormType.emit('register')">Create one</button>
      </div>
    } @else {
      <div class="flex items-center justify-center gap-1">
        <span>Have an account?</span>
        <button matButton (click)="toggleFormType.emit('login')">Login</button>
      </div>
    }
  </div>
</form>
