<form class="grid gap-2">
  @if (formType() === 'register') {
    <p-floatlabel variant="in">
      @let isUsernameInvalid = authForm.username().touched() && authForm.username().dirty();

      <!-- TODO: add username control invalid state  -->
      <input pInputText id="username" autocomplete="off" class="w-full" type="text" [field]="authForm.username" />
      <label for="username">Username</label>
    </p-floatlabel>

    @if (isUsernameInvalid) {
      @for (err of authForm.username().errors(); track err.kind) {
        <p-message severity="error" size="small" variant="simple">{{ err.message }}</p-message>
      }
    }
  }

  <p-floatlabel variant="in">
    @let isEmailInvalid = authForm.email().touched() && authForm.email().dirty();

    <!-- TODO: add email control invalid state  -->
    <input pInputText id="email" type="email" autocomplete="off" class="w-full" [field]="authForm.email" />
    <label for="email">Email</label>
  </p-floatlabel>

  @if (isEmailInvalid) {
    @for (err of authForm.email().errors(); track err.kind) {
      <p-message severity="error" size="small" variant="simple">{{ err.message }}</p-message>
    }
  }

  <p-floatlabel variant="in">
    @let isPasswordInvalid = authForm.password().touched() && authForm.password().dirty();

    <p-password
      id="password"
      class="w-full"
      autocomplete="off"
      [feedback]="false"
      [field]="authForm.password"
      [invalid]="isPasswordInvalid" />
    <label for="password">Password</label>
  </p-floatlabel>

  @if (isPasswordInvalid) {
    @for (err of authForm.password().errors(); track err.kind) {
      <p-message severity="error" size="small" variant="simple">{{ err.message }}</p-message>
    }
  }

  <p-button
    class="wide"
    size="large"
    severity="secondary"
    [loading]="isPerforming()"
    [disabled]="authForm().invalid() || isPerforming()"
    [label]="formType() === 'login' ? 'Login' : 'Create account'"
    (click)="submit($event)" />

  <div class="mt-4">
    <!-- TODO: update ui -->
    @if (formType() === 'login') {
      <div class="flex items-center justify-center gap-1">
        <span>No account?</span>
        <p-button link severity="secondary" label="Create one" [text]="true" (click)="toggleFormType.emit('register')" />
      </div>
    } @else {
      <div class="flex items-center justify-center gap-1">
        <span>Have an account?</span>
        <p-button link severity="secondary" label="Login" [text]="true" (click)="toggleFormType.emit('login')" />
      </div>
    }
  </div>
</form>
