@use 'tailwindcss';
@use 'primeicons/primeicons.css';
@use 'primeng-custom';

html,
body {
  height: 100%;
}

.link-active {
  color: var(--p-button-text-primary-color);
}

.color {
  &-success {
    color: var(--p-button-text-success-color);
  }

  &-danger {
    color: var(--p-button-text-danger-color);
  }
}

.color-secondary {
  color: var(--p-button-text-secondary-color);
}

.outlined {
  outline-offset: 4px;
  outline: 2px solid var(--p-button-text-secondary-color);
}
