@use 'tailwindcss';
@use 'primeicons/primeicons.css';
@use 'primeng-custom';

html,
body {
  height: 100%;
}

.link-active {
  color: var(--p-button-text-primary-color);
}

.color-secondary {
  color: var(--p-button-text-secondary-color);
}
